@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
    background-color: #1b1b1b;
    margin: auto;
    max-width: 44em;
    padding: 1em;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.2em;
}

h1 img{
    vertical-align: bottom;
    height: 3em;
}

a:link{
    color: #f67a36;
    transition: color .5s;
    text-decoration: none;
}

a:visited{
    color: #f67a36;
}

a:hover{
    color: #ff9156;
}

.dropZone{
    width: 82%;
    height: 24em;
    background-color: #444;
    margin: 32px auto 24px auto;
    border-radius: 1em;
    outline: 4px dashed #888;
    outline-offset: 2px;
    transition: background-color 0.5s;
    position: relative;
}
.dropZone svg{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    transition: top .5s;
    transform: translateY(-50%);
}
.active:hover svg{
    top: 45%;
}
.active:hover{
    background-color: #555;
}
.header{
    margin: auto;
    padding: auto;
}
.fileUpload{
    margin: auto;
    vertical-align: middle;
    width: 96%;
    padding: 32% 2%;
    display: inline-block;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    z-index: 98;
    position: relative;
}
.dropZone > label, #message{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    z-index: 3;
    color: #fff;
    transform: translateY(-50%);
}
.mainButton{
    display: inline-block;
    background-color: #0f5590;
    border-radius: 2px;
    border: 3px solid #53a2e2;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding: 6px 40px;
    margin: 6px;
    cursor: pointer;
    transition: background-color 0.5s;
    z-index: 7;
}
.mainButton:hover{
    background-color: #2a77b7;
}
.backWrapper{
    position: fixed;
    top: 48px;
    left: 32px;
    z-index: 99;
}
.backButton{
    background-color: #777;
    border-radius: 2px;
    border: 2px solid #bbb;
    color: #fff;
    opacity: 0.4;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: opacity 0.5s;
}
.backButton:hover{
    background-color: #888;
    opacity: 1;
}
#markdown{
    background-color: #0b0b0b;
    color: white;
    border-radius: 4px;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.7em;
    word-wrap: break-word;
    padding: 12px;
    margin: 16px;
    transform: rotate(0deg);
    animation: wiggle linear 0.2s 4.5 running alternate;
}
.loadingMessage:after{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1.5s infinite;
    content: '\00a0\2e\00a0\2e\00a0\2e';
    width: 0em;
    margin-right: 2.2em;
}
.footer{
    width: 80%;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: auto;
    padding: 1.5em 0;
}
.about{
    width: 32em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: auto;
    font-size: 1em;
}
#downloadBlend{
    width: 100%;
    height: 24em;
    opacity: 0;
    margin: auto;
    position: relative;
    display: block;
    z-index: 16;
}
code{
    font-family: 'Source Code Pro', monospace;
}
#message{
    font-size: 1.5em;
    word-wrap: break-word;
}
@keyframes ellipsis{
    to{
        width: 2.2em;
        margin-right: 0em;
    }
}
@keyframes wiggle{
    from{
        transform: rotate(-5deg);
    }
    to{
        transform: rotate(5deg);
    }
}